---
import { Image } from 'astro:assets'
import roadmapFirstMobile from '@/assets/roadmap/roadmap-first-mobile.webp'
import roadmapFirst from '@/assets/roadmap/roadpmap-first.webp'
import roadmapSecondMobile from '@/assets/roadmap/roadmap-second-mobile.webp'
import roadmapSecond from '@/assets/roadmap/roadmap-second.webp'
---

<section id="roadmap" class="bg-gradient-to-b from-white to-mist to-40%">
  <div class="mx-auto max-w-[1512px] px-6 py-20 pb-4 lg:px-24 lg:py-24 lg:pb-6">
    <h2
      class="text-center font-heading text-3xl font-bold leading-tight text-ink sm:text-4xl lg:text-5xl"
    >
      ¿Cómo llevar tu empresa al siguiente nivel?
    </h2>

    <!-- Infografía -->
    <div class="mx-auto mt-12 max-w-[1361px]">
      <Image
        src={roadmapFirstMobile}
        alt="Estrategia e identidad de marca"
        class="mx-auto block w-full lg:hidden"
      />
      <Image
        src={roadmapFirst}
        alt="Estrategia e identidad de marca"
        class="mx-auto hidden w-full max-w-[848px] lg:block mr-55"
      />
      <Image
        src={roadmapSecondMobile}
        alt="Canales de tráfico, Appointment Funnel, CRM, entrenamiento de ventas y escalabilidad"
        class="mt-2 block w-full lg:hidden"
      />
      <Image
        src={roadmapSecond}
        alt="Canales de tráfico, Appointment Funnel, CRM, entrenamiento de ventas y escalabilidad"
        class="mt-2 hidden w-full lg:block"
      />
    </div>
  </div>
</section>
